aside {
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9em;
  .img--box-pro {
    margin: 0 auto;
    padding-top: 20%;
    width: 80%;
    height: 70%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .contact--data {
    padding-left: 2em;
  }
  p {
    padding: 10px 0;
    padding-bottom: 5px;
    &:first-of-type {
      padding-top: 30px;
    }
  }
}
