.hello {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin-top: 8vh;
    margin-left: 4vh;
    @media only screen and (max-width: 600px) {
      margin-left: -7.5%;
    }
    @media only screen and (max-width: 400px) {
        margin-left: -7.5%;
      }
  }

  h1 span {
    font-size: 40px;
    margin-left: 40px;
    @media only screen and (max-width: 400px) {
        margin-left: 8%;
      }


  }

  .message {
    background-color: #ebc361;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
     @media only screen and (max-width: 400px) {
        margin-left: -7.5%;
      }
  }

  .word1,
  .word2,
  .word3 {
    font-family: tahoma;
  }

  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  .display--button {
    padding-top: 5%;
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: justify;
    border: 0;
    letter-spacing: 1px;
    z-index: 9999;
    background: transparent;
    position: absolute;
    top: 24.6%;
    right: 18%;
    width: 100px;
    cursor: pointer; 
   
    @media only screen and (max-width: 500px) {
        font-size: 0.7rem;
        top: 25%;
        right: 16.5%;
      }
      @media only screen and (max-width: 499px) and (min-width: 300px) {
        font-size: 0.7rem;
        top: 26%;
        right: 13%;
    }
    span {
      background-color: #7eaca7;
    }
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
