@import url("./styles/Navbar.scss");
@import url("./styles/About.scss");
@import url("./styles/More.scss");
@import url("./styles/Footer.scss");
@import url("./styles/Hello.scss");
@import url("./styles/Contact.scss");
:root {
  --mainColor: #5d8ba7;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav nav"
    "sidebar main"
    "footer footer";
  grid-template-columns: 400px 1fr;
  grid-template-rows: 80px 1fr 40px;

  @media only screen and (min-width: 500px) and (max-width: 700px) {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 85% 40px;
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: 0 1fr;
    grid-template-rows: 100px 85% 40px;
  }

  nav {
    grid-area: nav;
    display: flex;
  }
  aside {
    grid-area: sidebar;
    display: flex;
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
    display: flex;
  }
}
